{% extends 'main/base.html' %}
{% load static %}
<title>{% block title %} Services {% endblock %}</title>
{% block content %}
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/service.css' %}">
</head>
 <!-- service start  -->
    <section class="ftco-section" id="services">
        <div class="container">
            <div class="row justify-content-center py-5 mt-5">
                <div class="col-md-12 text-center">
                    <h2 class="mb-4">Services</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-center d-flex ftco-animate">
                    <a href="#" class="services-1">
                        <span class="icon">
                            <i class="fa fa-globe" aria-hidden="true"></i>
                        </span>
                        <div class="desc">
                            <h3 class="mb-5">Web Design</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 text-center d-flex ftco-animate">
                    <a href="#" class="services-1">
                        <span class="icon">
                            <i class="fa fa-code" aria-hidden="true"></i>
                        </span>
                        <div class="desc">
                            <h3 class="mb-5">Progmmer</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 text-center d-flex ftco-animate">
                    <a href="#" class="services-1">
                        <span class="icon">
                            <i class="fa fa-laptop" aria-hidden="true"></i>
                        </span>
                        <div class="desc">
                            <h3 class="mb-5">Web Developer</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 text-center d-flex ftco-animate align-items-center">
                    <a href="#" class="services-1">
                        <span class="icon">
                            <i class="fa fa-mobile" aria-hidden="true"></i>
                        </span>
                        <div class="desc">
                            <h3 class="mb-5">App Developing</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- servic end -->
{% endblock %}