/* service start */

.mb-4 {
    font-size: 45px;
    font-weight: bold;
     line-height: 1.3;
    font-weight: 500;
    letter-spacing: 3px;
    color: #000;
}
.mb-4:after{
    position: absolute;
    bottom: 22px;
    left: 0;
    right: 0;
    content: '';
    width: 170px;
    height: 1px;
    background: red;
    margin: 0 auto;
}
 
.text-center {
    text-align: center !important;
}

.services-1 {
    margin-bottom: 40px;
    padding: 2em;
    background: #fff;
    width: 100%;
    -webkit-box-shadow: 0px 20px 69px -27px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 0px 20px 69px -27px rgba(0, 0, 0, 0.17);
    box-shadow: 0px 20px 69px -27px rgba(0, 0, 0, 0.40);
}

.services-1 .desc h3 {
    line-height: 1.3;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 3px;
    text-transform: uppercase;
    position: relative;
    color: #000;
}

.services-1 .desc h3:after {
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
    content: '';
    width: 30px;
    height: 1px;
    background: red;
    margin: 0 auto;
}

.ftco-section a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    color: #red;
}

.services-1 .icon {
    display: block;
    margin-bottom: 30px;
}

.fa-laptop:before {
    content: "\f109";
    font-size: 38px;
}
.icon i{
    color: black;
}

.fa-code:before {
    content: "\f121";
    font-size: 38px;
}

.fa-globe:before {
    content: "\f0ac";
    font-size: 38px;
}

.fa-mobile-phone:before,
.fa-mobile:before {
    content: "\f10b";
    font-size: 38px;
}

.mb-5,
.my-5 {
    margin-bottom: 3rem !important;
}

.services-1:hover {
    background: #ffbd39;
}

.services-1:hover .icon i {
    color: #fff;
}

.services-1:hover h3 {
    color: #000000;
}

.services-1:hover h3:after {
    background: #000000;
}



/* serice end */